.custom-tab {
    @apply text-white font-semibold hover:bg-yellow-400 hover:text-white hover:font-bold border-b-2 border-transparent transition-all duration-300;
  }
  
  .custom-tab.active {
    background-color: #FBBF24 !important; /* Tailwind's bg-yellow-500 */
    color: black !important;              /* Ensure text stays white */
    border-bottom-color: #3B82F6 !important; /* Tailwind's blue-500 for border */
  }

  .learnerButtons {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }
  
  .learnerButtons:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Shadow on hover */
    transform: translateY(-2px); /* Slight lift effect */
  }

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* Makes the arrow white or you can adjust this to other values */
}

/* Optional: Change arrow color on hover */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  filter: invert(50%); /* Light grey on hover (or adjust as per your needs) */
}

.custom-shadow {
  box-shadow: 0 4px 20px rgba(69, 69, 71, 0.5); /* Change rgba values for different colors */
}
